@media (max-width: 700px){

  //container
  .container{
    margin-top: 8rem;
  }

  //Text Styles
  .x-large{
    font-size: 3rem;
  }
  .large{
    font-size: 2rem;
  }
  .lead{
    font-size: 1.4rem;
  }

  // Nav Bar
  .navbar{
    display: block;
    text-align: center;

    ul{
      justify-content: center;
      text-align: center;
    }
  }

  .dash-buttons a {
    display: block;
    width: 80%;
    margin: 0.2rem auto;
    text-align: center;
    
  }

  // profile
  .profile{
    grid-template-columns: 1fr;
    text-align: center;

    ul{
      display: none;
    }

    .profile-grid{
      grid-template-areas:
      'top'
      'about'
      'exp'
      'skills'
    }
    .profile-about{
      .skills{
        flex-direction: column;
      }
    }
  }

  img{
    margin: auto;
  }

  .main-footer .footer-container{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 1.2rem;
    justify-content: center;
    padding-top: 1rem;
    
    .list{
      li{
      border-bottom: none;
      }
    }
    
    
  }

  .main-footer .footer-container > *:last-child{
    background: #444;
    grid-column: 1;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
  }

  

}